<h1>
  Editar / Agregar
  héroe
  <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <div class="grid">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super héroe</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Primera aparición</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select required="">
              <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id">
                {{ publisher.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex justify-content-between">
          <button
            mat-flat-button
            color="warn"
          >
            Borrar
          </button>

          <button
            mat-flat-button
            color="primary"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img src="" alt="imagen del héroe" mat-card-image>
    </mat-card>

  </div>
</div>


